<!DOCTYPE HTML>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
    <div th:replace="fragments/common::header"></div>
    <h1 th:text="${title}"></h1>
    <p class="msg" th:text="${msg}" />
    <div layout:fragment="partial" th:remove="tag"></div>
</body>
</html>